body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.all {
    border: 1px black solid;
    width: 400px;
}

.part {
    border: 1px black solid;
    border-collapse: collapse;
    border-spacing: 0px;
}

.mark {
    float: left;
    border: 1px gray solid;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100px;
    text-align: center;
}

.content {
    border: 1px gray solid;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}
.t{
        border: 1px gray solid;
        border-collapse: collapse;
        border-spacing: 0px;
        /*table-layout: fixed;*/
        margin-top: 20px;
        width: 1000px;
}
.t td{
      border: 1px gray solid;
      padding: 5px;
      text-align: center;

}
tbody tr.odd{
           background-color: #FFFFFF;
        }
tbody tr.even{
        background-color: #ECF2FE;
        /*F1F9F9*/
}
.t th{
     border: 1px gray solid;
     height: 45px;
     background-color: #E3E3E3;
}
.dataBtn{
  font-size: 1pt;
    border-bottom: gray 1px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    border-top: gray 1px solid;
    border-radius: 3px 3px 3px 3px;
    font-style: normal;
    width: 60px;
    height: 25px;
}
.btnbundle{
  font-size: 9pt;
    color: #FFFFFF;
    border-bottom: #387ef5 1px solid;
    border-left: #387ef5 1px solid;
    border-right: #387ef5 1px solid;
    border-top: #387ef5 1px solid;
    border-radius: 6px 0 0 6px;
    background-color: #387ef5;
    cursor: hand;
    font-style: normal;
    width: 98px;
    height: 35px;
}
.btnorder{
  font-size: 9pt;
    color: #387ef5;
    border-bottom: #387ef5 1px solid;
    border-left: #387ef5 1px solid;
    border-right: #387ef5 1px solid;
    border-top: #387ef5 1px solid;
    border-radius: 0 6px 6px 0;
    background-color: #FFFFFF;
    cursor: hand;
    font-style: normal;
    width: 98px;
    height: 35px;
}
/*.btnbundle:pressed
{
    color: #FFFFFF;
    background-color: #387ef5;
}*/
